.other-new__image, .search-new__image, .channel__image, .latest-new__image, .featured-new__image {
  margin-right: 1rem;
}

.other-new:first-of-type .other-new__info, .featured-new:first-of-type .featured-new__info {
  margin-top: 1rem;
}

.other-new:first-of-type .other-new__image, .featured-new:first-of-type .featured-new__image {
  margin-right: 0;
}

.other-new:not(:last-child), .search-new:not(:last-child), .channel:not(:last-child), .latest-new:not(:last-child), .featured-new:not(:last-child) {
  margin-bottom: 1rem;
}

.other-new__createby, .featured-new__createby {
  margin-bottom: 0;
}

.other-new:first-of-type .other-new__image > img, .other-new:first-of-type .other-new__image, .featured-new:first-of-type .featured-new__image > img, .featured-new:first-of-type .featured-new__image {
  width: 100%;
}

.account {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.account__avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.account img {
  width: 100%;
  object-fit: cover;
}

.dropdown-menu {
  margin-top: 0 !important;
}

.custom-file-label {
  padding-right: 5rem !important;
}

.eclipse {
  clip-path: ellipse(47% 41% at 50% 43%);
}

body {
  background: #f7f7f7;
  font-family: "Quicksand", sans-serif;
}

div[class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.list-style-none {
  list-style: none;
}

._2p3a {
  width: 100% !important;
}

.p-fixed {
  position: fixed;
  top: 2rem;
}

.content-wrapper {
  padding: 1rem 1rem !important;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mr-1 {
  margin-right: 1rem;
}

.w-100 {
  width: 100%;
}

.min-h-100vh {
  min-height: 100vh;
}

.ck.ck-editor {
  width: 100%;
  margin-bottom: 1.5rem;
}

.alert--lb {
  position: fixed;
  bottom: calc(100vh - 95%);
  left: 1rem;
  z-index: 30;
}

.bd-none {
  border: unset;
}

.bdr-none {
  border-radius: unset;
}

.cursor {
  cursor: initial !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* loading */
.main-loader {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #adadad;
  border-bottom: 16px solid #adadad;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tag {
  position: relative;
}
.tag:hover .tag__close {
  opacity: 1;
}
.tag__close {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.8rem;
  transition: 0.3s;
  color: #000;
  opacity: 0;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.load-more {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.featured-new:first-of-type {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.featured-new:first-of-type .featured-new__image {
  max-height: 20rem;
  overflow: hidden;
}
.featured-new:first-of-type .featured-new__image > img {
  height: auto;
}

.featured-new, .latest-new, .channel {
  color: #000000;
}
.featured-new:hover, .latest-new:hover, .channel:hover {
  color: inherit;
}

.featured-new {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
}
.featured-new:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.featured-new__image {
  flex: 25%;
  height: 5rem;
  overflow: hidden;
}
.featured-new__image > img {
  width: 100%;
}
.featured-new__info {
  flex: 80%;
}
.latest-new {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
}
.latest-new:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.latest-new__image {
  flex: 70.4% 1;
  height: 4.68rem;
  overflow: hidden;
}
.latest-new__image > img {
  width: 100%;
}
.latest-new__title {
  font-size: 0.85rem;
}
.latest-new__info {
  flex: 80%;
}
.channel {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
}
.channel:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.channel:hover .channel__descriptions {
  opacity: 1;
  display: block;
}
.channel__descriptions {
  position: absolute;
  bottom: -3.4rem;
  left: 50%;
  display: none;
  background: #ffffff;
  transform: translateX(-50%);
  transition: 0.3s;
  opacity: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 10000;
}
.channel__image {
  flex: 20%;
  overflow: hidden;
  height: 2.5rem;
}
.channel__image > img {
  width: 100%;
}
.channel__info {
  flex: 80%;
  text-align: center;
}
.search-new {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
}
.search-new:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.search-new__image {
  flex: 10%;
  height: 3rem;
  overflow: hidden;
}
.search-new__image > img {
  width: 100%;
}
.search-new__title {
  font-size: 0.85rem;
}
.search-new__info {
  flex: 80%;
}
.selected-news {
  width: 100%;
  height: 6rem;
  overflow: hidden;
}

.card-title {
  font-size: 0.95rem !important;
  color: #ffffff !important;
}

.card {
  background: #48576b !important;
}

.card-img-overlay {
  opacity: 0 !important;
  transition: 0.5s;
}

.card:hover .card-img-overlay {
  opacity: 1 !important;
  background: #3e4a5bc4;
}

.hover-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}
.hover-sm:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.other-new:first-of-type {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.other-new:first-of-type .other-new__image {
  height: 20rem;
  overflow: hidden;
}
.other-new, .latest-new, .channel {
  color: #000000;
}
.other-new:hover, .latest-new:hover, .channel:hover {
  color: inherit;
}

.other-new {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
}
.other-new:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.other-new__image {
  flex: 25%;
  height: 7rem;
  overflow: hidden;
}
.other-new__image > img {
  width: 100%;
}
.other-new__info {
  flex: 80%;
}
.search {
  position: relative;
}
.search__result {
  position: absolute;
  background: #ffffff;
  top: 3rem;
  left: 0;
}
.search__title {
  font-size: 0.85rem;
}

.loading {
  opacity: 1;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@media only screen and (max-width: 1200px) {
  .featured-new__image {
    height: 4rem;
  }

  .latest-new__image {
    flex: 60.4% 1;
    height: 3.5rem;
  }

  .other-new__image {
    flex: 25% 1;
    height: 6rem;
  }
}
@media only screen and (max-width: 992px) {
  .channel__image {
    display: none;
  }

  .featured-new__image {
    flex: 37% 1;
    height: 4.7rem;
  }

  .latest-new__image {
    flex: 35% 1;
    height: 3rem;
  }

  .selected-news {
    height: 8rem;
  }

  h3 {
    margin-top: 1rem !important;
  }

  .navbar-collapse {
    flex-flow: column !important;
    text-align: left !important;
  }
}
@media only screen and (max-width: 768px) {
  .latest-new__image {
    flex: 30% 1;
    height: 5.1rem;
  }

  .featured-new__image {
    flex: 30% 1;
    height: 5.1rem;
  }

  .main-featured-new > h3 {
    margin-top: 1rem !important;
  }

  .other-new__image {
    flex: 30% 1;
    height: 5.1rem;
  }

  h3 {
    margin-top: 1rem !important;
  }

  .selected-news {
    height: 5.1rem;
  }

  .fanpage {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .selected-news {
    height: 15rem;
  }

  .other-new__image {
    flex: 26% 1;
    height: 4.1rem;
  }

  .other-new:first-of-type .other-new__image {
    max-height: 12rem;
    overflow: hidden;
  }

  .featured-new__image {
    flex: 26% 1;
    height: 4.1rem;
  }

  .latest-new__image {
    flex: 26% 1;
    height: 4.1rem;
  }
}
[class*=box-] {
  height: 6px;
  width: 400px;
  background: #f6f7f9;
  margin-bottom: 13px;
  margin-right: 5px;
}

.box-loading {
  background: #fff;
  height: auto;
  width: 100%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.box-thumbnail {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 20px;
  display: inline-block;
}

.box-line-sm {
  width: calc(100% - 100px);
  margin-top: 10px;
  margin-left: 50px;
}
.box-line-xs {
  width: calc(100% - 150px);
  margin-left: 50px;
}
.box-line-df {
  margin-top: 30px;
  width: calc(100% - 50px);
}
.box-line-lg {
  width: calc(100% - 70px);
}
.box-line-lgx {
  width: 100%;
}

[class*=box-line],
.box-thumbnail {
  animation: timeline;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px auto;
  background-position: 100px 0;
}

@keyframes timeline {
  0% {
    background-position: -350px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
.comment__user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.comment__photo {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.comment__photo > img {
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
