body{
  background: #f5f7f9;
}

div[class*="col-"]{
  padding-left: 10px;
  padding-right: 10px;
}

._2p3a{
  width: 100% !important;
}

.p-fixed{
  position: fixed;
  top: 2rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mr-1 {
  margin-right: 1rem;
}

.w-100 {
  width: 100%;
}

.min-h-100vh{
  min-height: 100vh;
}

.ck.ck-editor {
  width: 100%;
  margin-bottom: 1.5rem;
}

.alert--lb {
  position: fixed;
  bottom: calc(100vh - 95%);
  left: 1rem;
  z-index: 30;
}

.bd-none{
  border: unset;
}

.bdr-none{
  border-radius: unset;
}

.cursor{
  cursor: initial !important;
}

.cursor-pointer{
  cursor: pointer;
}

/* loading */
.box-loader{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #adadad;
  border-bottom: 16px solid #adadad;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
